<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>My Stock Tracker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style type="text/css">
    body {
      background-image:url("/imgs/vintage-leaves.png");
      background-size: cover;
    }   

    .nav.navbar-nav.navbar-right ul {
      display: inline-flex;
      list-style-type: none;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">My Stock Tracker</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <% if logged_in? %>  
          <li><a href="/tracker">Tracker</a></li>
        <% end %>   
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <form action="/session" method="post">
        <input type="hidden" name="_method" value="delete">  
        <button class="btn btn-default btn-md"><span class="glyphicon glyphicon-log-out"></span> Log out </button>
        </form> 
        <% else %>
          <ul>
          <li><a href="/signup"><button type="button" class="btn btn-default btn-md"><span class="glyphicon glyphicon-user"></span> New User </button></a></li>
          <li><a href="/login"><button type="button" class="btn btn-default btn-md"><span class="glyphicon glyphicon-log-in"></span> Sign In </button></a></li>
          </ul>
        <% end %>
    </div>
  </nav>
    
  <% if logged_in? %>
    <h3>Welcome, <%= current_user.name %></h3>
  <% end %>

  <h1>My Stock Tracker</h1>

  <%= yield %>

  <div class="container">  
    <% if logged_in? %>
      <h2>Tracked Stocks</h2>
        <% @tracked.each do |stock| %>
        <p><%= stock['stock_code'].upcase %><% @stock = stock['stock_code']%> <%= get_quote %></p>
        <% end %>  
    <% end %>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>