<h2>My Tracker</h2>
List of tracked stock codes shown here.

<ul>
  <% @tracked.each do |stock| %>
    <li><h4><%= stock['stock_code'].upcase %> UserID <%= stock['user_id'] %>
    StockID <%= @stock = stock['id'] %></h4> 
  <form action="/tracker" method="post">
  <input type="hidden" name="_method" value="delete">  
  <button>Remove</button> 
  </form>
  </li>
  <% end %>
</ul>

