<h2><em>My Tracker</em></h2>
List of tracked stock codes shown here.

<ul>
  <% @tracked.each do |stock| %>
    <% @stock = stock %>
    <li><h4><%= stock['stock_code'].upcase %></h4> 
    <form action="/tracker" method="post">
    <input type="hidden" name="_method" value="delete"> <button class="btn btn-sm btn-primary" name="id" value="<%= @stock['id'] %>">Remove</button> 
    </form>
    </li>
  <% end %>
</ul>